body {
  background: #dddddd;
}




header {
  border-color: #cccccc;
  background-color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
  font-weight: bolder;
  text-align: center; 
  padding: 2% 0% 0% 2%;
  margin: 5% 80% 0% 5%;
}
.border {
  color: #cccccc;
}
.btn-group {
  background-color: #ffffff;
}
section {
  background: #ffffff;
  padding: 0% 10% 15% 5%;
}
